.column-active {
    background: grey;
    border: 1px solid grey;
}

.column-group {
    span {
        font-size: 2.2rem;

        @media (max-width: 640px) {
            font-size: 1.5rem;
        }
    }
}

.column-item {
    // width: 3rem;

    // @media screen and (max-width: 640px) {
    //     width: 1.5rem;

    //     .validation-column {
    //         .validation-item {
    //             width: .5rem;
    //             height: .5rem;
    //         }
    //     }
    // }
}
