.column-active {
  border: 2px solid greenyellow;
}

.column-group {
  display: block;
  span {
    font-size: 2.2rem;
    transition: all 0.4s;
  }

  @media (max-width: 640px) {
    display: flex;

    span {
      margin-left: 2rem;
      font-size: 1.5rem;
      transform: rotate(270deg);
    }
  }
}

.column-item {
  display: block;

  @media (max-width: 640px) {
    display: flex;
  }
}
