.validation-group {
    display: flex;
    width: 2.4rem;
    padding: 0;
    justify-content: space-between;

    .validation-column {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .validation-item {
            width: 1rem;
            height: 1rem;
            margin: 0;
            background: white;
            border-radius: 50%;
            border: 1px solid red;
        }

        .item-1 {
            background: red;
        }

        .item-2 {
            background: green;
        }
    }

    @media screen and (max-width: 640px) {
        width: 1.5rem;

        .validation-column {
            .validation-item {
                width: .5rem;
                height: .5rem;
            }
        }
    }
}
