.tablero-juego {
    // border: 1px solid white;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;

    @media (max-width: 640px) {
        justify-content: space-around;
        flex-direction: column;
    }

    padding: 0 .2rem;
}

.game-container {
    display: block;

    @media (max-width: 640px) {
        display: flex;
        justify-content: center;
    }
}
