.ficha {
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
    margin: .2rem;
    background: transparent;
    border-radius: 50%;
    border: 1px solid burlywood;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 640px) {
        width: 1.5rem;
        height: 1.5rem;
        margin: .1rem;
    }
}

.ficha-seleccionable {
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    margin: .5rem;
    background: white;
    border-radius: 50%;
    border: 1px solid burlywood;

    @media screen and (max-width: 640px) {
        width: 2.5rem;
        height: 2.5rem;
        margin: .2rem;
    }
}

.question {
    color: red;
    font-size: 30px;
}
